@model DentalClinicReservationAndManagementSystem.Models.DentistLogin
@{
    ViewBag.Title = "DentistLogin";
    Layout = null;
}
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/open-iconic-bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/animate.css")">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/magnific-popup.css")">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/aos.css")">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/ionicons.min.css")">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/bootstrap-datepicker.css")">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/jquery.timepicker.css")">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/flaticon.css")">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/icomoon.css")">
    <link rel="stylesheet" href="@Url.Content("../../Content/css/style.css")">
</head>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-primary" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="@Html.ActionLink("Home", "Index", "Home")">Dental <span>Care</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-link"> @Html.ActionLink("Home", "Index", "Home", new { Style = "color:White" })</li>
                <li class="nav-item nav-link"> @Html.ActionLink("About", "About", "Home", new { Style = "color:White" })</li>
                <li class="nav-item nav-link"> @Html.ActionLink("Services", "Services", "Home", new { Style = "color:White" })</li>
                <li class="nav-item nav-link"> @Html.ActionLink("Dentists", "Dentists", "Home", new { Style = "color:White" })</li>
                <li class="nav-item cta nav-link"> @Html.ActionLink("Make an Appointment", "Index", "Home", new { Style = "color:White" })</li>
                <li class="nav-item cta nav-link"> @Html.ActionLink("Dentist Arena", "DentistLogin", "Home", new { Style = "color:White" })</li>
                <li class="nav-item cta nav-link"> @Html.ActionLink("Patient Arena", "PatientLogin", "Home", new { Style = "color:White" })</li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    @using (Html.BeginForm("DentistLogin", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h5 class="card-title text-center">Dentist's Login</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <label>username</label><br />
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-label-group">
                                <label>password</label><br />
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-label-group text-danger">
                                <label>@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                            </div>
                            <br /> <br />
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                            <hr class="my-4">
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div>

</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
   
    <script src="../../Content/js/main.js"></script>
}